In [1]:
import pandas as pd
import numpy as np
import utils as u
import my_ds_babel 
import csv
from io import StringIO

In [2]:
df1=pd.read_csv("only_wood_customer_us_1.csv")
df2=pd.read_csv("only_wood_customer_us_2.csv",delimiter=';',names=['Age','City',"Gender","Name","Email"])
df3=pd.read_csv("only_wood_customer_us_3.csv",delimiter='\t|,')# the | sign is used to specify that we going to use two delimiter \t and ,

C:\Users\judical\AppData\Local\Temp\ipykernel_23840\3548670504.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df3=pd.read_csv("only_wood_customer_us_3.csv",delimiter='\t|,')# the | sign is used to specify that we going to use two delimiter \t and ,

In [3]:
df1

,Gender,FirstName,LastName,UserName,Email,Age,City,Country
0,Female,latesha,Barton,latesha,forgottoask@woodinc,85,INDIANAPOLIS,United State Of America
1,Female,Yolando,Jast,yolando,yolando_jast@yahoo.com,53,Columbus,12
2,Male,STACY,JOHNSON,stacy,stacy.johnson@yahoo.com,64,Indianapolis,NaN
3,Male,ABDUL,Mayert,abdul,mayert.abdul@hotmail.com,79,phoenix,USA
4,0,JULIUS,REINGER,julius,reinger_julius@hotmail.com,65,Jacksonville,NaN
...,...,...,...,...,...,...,...,...
9995,Male,YOUNG,KOCH,young,koch_young@hotmail.com,44,Jacksonville,United State Of America
9996,Male,craig,runte,craig,craig.runte@gmail.com,29,INDIANAPOLIS,United State Of America
9997,Female,LEORA,trantow,leora,trantow.leora@hotmail.com,97,New-york,NaN
9998,Female,nery,heller,nery,HELLER_NERY@HOTMAIL.COM,86,NEW_YORK,NaN
9999,Female,Linda,dickens,linda,DICKENS.LINDA@YAHOO.COM,58,san diego,NaN

In [4]:
#Checking columns Table 1
u.check_string_column(df1["Gender"]) #'This column contains 982 dirty values' 0 and 1 must be changed into Male and Female
u.check_string_column(df1["FirstName"]) # 'This column contains 642 dirty values') we must replace \\ "" characters by emplty and make names started by upcase letter
u.check_string_column(df1["LastName"]) #'This column contains 753 dirty values') we must replace \\ "" characters by emplty and make names started by upcase letter
u.check_numerical_column(df1["Age"]) # Age columns is clean we just need to convert each entry to str as the specified by the work
u.check_string_column(df1["City"]) # 'This column contains 3839 dirty values' we should replace - and _ characters by empty  and make Cities started by upcase letter
u.check_string_column(df1["Country"]) # 'This column contains 6647 dirty values' we will set the standar country name sa USA

({0: 'United State Of America',
  1: '12',
  2: nan,
  4: nan,
  6: 'U.S.A.',
  7: 'U.S.A.',
  8: '12',
  9: 'United State Of America',
  10: nan,
  16: 'United State Of America',
  17: nan,
  19: '12',
  20: '12',
  23: nan,
  24: 'United State Of America',
  25: nan,
  28: 'U.S.A.',
  31: 'U.S.A.',
  32: 'United State Of America',
  36: nan,
  37: '12',
  38: nan,
  39: '12',
  40: 'U.S.A.',
  42: 'United State Of America',
  43: '12',
  44: nan,
  45: 'U.S.A.',
  46: '12',
  48: '12',
  50: 'United State Of America',
  51: 'U.S.A.',
  52: 'U.S.A.',
  54: 'United State Of America',
  55: nan,
  56: '12',
  57: '12',
  58: 'United State Of America',
  61: 'United State Of America',
  62: nan,
  65: 'United State Of America',
  69: 'U.S.A.',
  70: 'United State Of America',
  71: '12',
  73: 'United State Of America',
  74: '12',
  75: 'United State Of America',
  76: 'United State Of America',
  77: '12',
  79: nan,
  80: 'United State Of America',
  81: nan,
  82: 'U.S.A.',
  86: '12',
  87: '12',
  88: 'U.S.A.',
  90: '12',
  91: 'United State Of America',
  94: 'United State Of America',
  96: 'United State Of America',
  97: 'U.S.A.',
  98: nan,
  99: 'U.S.A.',
  100: nan,
  101: 'United State Of America',
  102: nan,
  103: '12',
  104: nan,
  105: 'United State Of America',
  107: '12',
  108: 'United State Of America',
  109: 'U.S.A.',
  110: nan,
  111: 'U.S.A.',
  113: '12',
  114: '12',
  115: '12',
  116: 'United State Of America',
  118: 'U.S.A.',
  119: nan,
  120: nan,
  121: nan,
  122: '12',
  124: 'United State Of America',
  125: nan,
  126: '12',
  128: nan,
  129: nan,
  130: nan,
  131: 'U.S.A.',
  134: '12',
  135: 'United State Of America',
  138: '12',
  140: 'United State Of America',
  141: nan,
  142: 'U.S.A.',
  143: 'U.S.A.',
  144: 'United State Of America',
  145: nan,
  148: 'U.S.A.',
  149: 'United State Of America',
  150: 'U.S.A.',
  151: 'U.S.A.',
  152: nan,
  153: '12',
  155: nan,
  156: 'U.S.A.',
  160: 'United State Of America',
  163: 'U.S.A.',
  164: 'United State Of America',
  165: 'U.S.A.',
  166: 'United State Of America',
  167: nan,
  168: nan,
  170: nan,
  171: 'United State Of America',
  172: '12',
  173: 'United State Of America',
  174: 'U.S.A.',
  175: 'U.S.A.',
  178: '12',
  179: 'United State Of America',
  182: nan,
  184: 'United State Of America',
  185: '12',
  188: 'United State Of America',
  189: 'United State Of America',
  190: '12',
  191: 'United State Of America',
  193: 'United State Of America',
  194: nan,
  196: nan,
  197: nan,
  198: nan,
  199: 'U.S.A.',
  200: 'U.S.A.',
  202: '12',
  204: nan,
  205: 'U.S.A.',
  206: 'U.S.A.',
  207: 'U.S.A.',
  208: '12',
  212: '12',
  213: 'United State Of America',
  214: 'United State Of America',
  215: 'United State Of America',
  216: '12',
  218: '12',
  219: 'United State Of America',
  220: nan,
  222: '12',
  223: nan,
  224: '12',
  225: nan,
  230: nan,
  231: 'United State Of America',
  232: '12',
  233: 'U.S.A.',
  235: nan,
  236: nan,
  237: '12',
  238: 'U.S.A.',
  239: 'United State Of America',
  240: 'U.S.A.',
  241: nan,
  242: 'U.S.A.',
  245: nan,
  246: nan,
  247: 'U.S.A.',
  248: 'United State Of America',
  250: nan,
  251: 'U.S.A.',
  252: '12',
  253: 'U.S.A.',
  255: nan,
  256: nan,
  258: nan,
  259: nan,
  260: 'U.S.A.',
  261: 'U.S.A.',
  263: 'United State Of America',
  266: 'United State Of America',
  267: 'U.S.A.',
  268: nan,
  269: 'U.S.A.',
  270: nan,
  271: '12',
  273: 'U.S.A.',
  274: 'United State Of America',
  275: nan,
  276: nan,
  281: nan,
  283: 'United State Of America',
  286: 'U.S.A.',
  287: '12',
  288: '12',
  289: nan,
  291: nan,
  294: 'U.S.A.',
  298: 'United State Of America',
  299: nan,
  300: nan,
  301: nan,
  302: 'U.S.A.',
  303: nan,
  304: 'United State Of America',
  305: 'United State Of America',
  306: nan,
  307: nan,
  308: 'United State Of America',
  309: 'U.S.A.',
  310: 'United State Of America',
  311: 'U.S.A.',
  312: '12',
  313: 'United State Of America',
  315: '12',
  316: 'United State Of America',
  317: 'United State Of America',
  318: '12',
  319: '12',
  321: nan,
  322: nan,
  325: '12',
  326: nan,
  327: 'United State Of America',
  328: nan,
  329: 'United State Of America',
  330: 'United State Of America',
  331: nan,
  332: 'U.S.A.',
  333: 'U.S.A.',
  335: nan,
  337: nan,
  338: 'United State Of America',
  341: 'United State Of America',
  342: 'United State Of America',
  344: nan,
  345: nan,
  346: 'United State Of America',
  347: '12',
  348: '12',
  350: 'U.S.A.',
  351: '12',
  352: 'U.S.A.',
  353: nan,
  354: '12',
  355: '12',
  356: '12',
  358: nan,
  359: '12',
  361: 'United State Of America',
  362: 'United State Of America',
  363: '12',
  365: '12',
  366: 'U.S.A.',
  367: nan,
  369: 'United State Of America',
  370: 'United State Of America',
  372: '12',
  373: '12',
  374: '12',
  376: '12',
  377: nan,
  378: nan,
  380: 'U.S.A.',
  382: nan,
  383: nan,
  384: 'U.S.A.',
  385: nan,
  386: '12',
  387: 'United State Of America',
  389: '12',
  390: nan,
  394: '12',
  397: nan,
  398: '12',
  399: 'United State Of America',
  402: 'United State Of America',
  403: '12',
  405: 'U.S.A.',
  408: 'U.S.A.',
  409: 'United State Of America',
  412: '12',
  414: 'U.S.A.',
  416: nan,
  417: nan,
  418: 'United State Of America',
  420: nan,
  421: nan,
  423: nan,
  424: nan,
  427: '12',
  431: 'U.S.A.',
  433: '12',
  435: 'U.S.A.',
  436: nan,
  437: nan,
  438: nan,
  439: 'United State Of America',
  443: 'United State Of America',
  444: '12',
  445: nan,
  448: nan,
  450: 'U.S.A.',
  451: 'U.S.A.',
  452: 'United State Of America',
  454: nan,
  456: nan,
  457: '12',
  458: 'United State Of America',
  459: '12',
  460: '12',
  461: 'United State Of America',
  462: 'U.S.A.',
  463: '12',
  464: 'U.S.A.',
  465: nan,
  466: nan,
  467: nan,
  468: 'United State Of America',
  470: 'United State Of America',
  471: 'U.S.A.',
  472: 'U.S.A.',
  473: 'U.S.A.',
  474: '12',
  476: 'U.S.A.',
  477: '12',
  481: 'United State Of America',
  484: nan,
  485: 'U.S.A.',
  486: 'United State Of America',
  487: '12',
  490: '12',
  491: 'United State Of America',
  493: nan,
  495: nan,
  499: '12',
  500: 'U.S.A.',
  501: nan,
  502: 'U.S.A.',
  504: '12',
  507: 'U.S.A.',
  508: '12',
  509: 'U.S.A.',
  510: 'United State Of America',
  511: nan,
  514: 'United State Of America',
  515: nan,
  517: nan,
  519: '12',
  520: 'U.S.A.',
  522: 'U.S.A.',
  523: '12',
  526: '12',
  528: '12',
  530: '12',
  531: nan,
  532: nan,
  533: nan,
  534: 'U.S.A.',
  536: nan,
  537: nan,
  538: nan,
  541: 'United State Of America',
  543: '12',
  544: 'U.S.A.',
  548: '12',
  549: nan,
  550: '12',
  552: '12',
  553: nan,
  554: '12',
  555: 'United State Of America',
  556: nan,
  557: nan,
  559: '12',
  560: '12',
  562: 'United State Of America',
  563: nan,
  564: nan,
  565: 'U.S.A.',
  566: 'U.S.A.',
  569: 'U.S.A.',
  570: nan,
  572: '12',
  573: '12',
  574: '12',
  575: 'United State Of America',
  576: 'U.S.A.',
  577: 'U.S.A.',
  579: 'U.S.A.',
  580: 'U.S.A.',
  582: '12',
  583: nan,
  586: 'U.S.A.',
  587: 'U.S.A.',
  588: nan,
  590: 'U.S.A.',
  591: nan,
  595: 'United State Of America',
  597: 'U.S.A.',
  598: 'U.S.A.',
  599: '12',
  600: 'U.S.A.',
  601: 'United State Of America',
  602: 'U.S.A.',
  608: '12',
  611: nan,
  612: nan,
  615: 'U.S.A.',
  616: '12',
  618: '12',
  619: 'United State Of America',
  622: 'United State Of America',
  623: nan,
  624: 'United State Of America',
  625: '12',
  626: 'U.S.A.',
  627: 'U.S.A.',
  628: 'U.S.A.',
  629: nan,
  631: 'United State Of America',
  633: nan,
  634: nan,
  636: nan,
  637: 'United State Of America',
  638: nan,
  640: nan,
  644: '12',
  646: nan,
  647: 'United State Of America',
  648: 'United State Of America',
  649: 'United State Of America',
  653: nan,
  654: 'U.S.A.',
  655: nan,
  659: '12',
  660: 'U.S.A.',
  661: '12',
  662: 'United State Of America',
  663: nan,
  665: 'United State Of America',
  667: 'U.S.A.',
  668: nan,
  669: '12',
  670: nan,
  671: '12',
  672: 'United State Of America',
  673: '12',
  674: 'United State Of America',
  675: nan,
  676: '12',
  677: '12',
  678: '12',
  683: nan,
  686: '12',
  687: 'U.S.A.',
  688: '12',
  690: '12',
  691: nan,
  692: nan,
  696: 'U.S.A.',
  697: '12',
  704: 'United State Of America',
  705: 'United State Of America',
  706: 'U.S.A.',
  707: nan,
  708: 'United State Of America',
  709: 'United State Of America',
  712: '12',
  713: 'United State Of America',
  714: 'U.S.A.',
  715: 'U.S.A.',
  716: '12',
  718: 'United State Of America',
  720: 'U.S.A.',
  722: 'United State Of America',
  723: 'U.S.A.',
  724: nan,
  725: '12',
  726: nan,
  728: '12',
  729: 'United State Of America',
  730: 'U.S.A.',
  732: 'U.S.A.',
  733: 'United State Of America',
  734: 'U.S.A.',
  737: nan,
  739: nan,
  740: 'United State Of America',
  741: '12',
  742: 'U.S.A.',
  745: nan,
  746: '12',
  748: 'U.S.A.',
  749: nan,
  751: 'United State Of America',
  752: 'United State Of America',
  754: 'U.S.A.',
  756: nan,
  758: '12',
  759: '12',
  760: nan,
  762: nan,
  763: 'U.S.A.',
  764: '12',
  765: nan,
  768: 'United State Of America',
  769: 'U.S.A.',
  770: 'United State Of America',
  771: '12',
  772: '12',
  773: '12',
  774: 'United State Of America',
  775: 'United State Of America',
  777: nan,
  779: '12',
  780: 'United State Of America',
  781: '12',
  782: nan,
  783: 'United State Of America',
  784: 'United State Of America',
  785: nan,
  788: 'United State Of America',
  789: nan,
  790: nan,
  791: '12',
  793: nan,
  794: 'United State Of America',
  795: 'U.S.A.',
  797: 'U.S.A.',
  798: 'U.S.A.',
  801: '12',
  802: 'United State Of America',
  803: 'U.S.A.',
  804: 'United State Of America',
  806: 'United State Of America',
  807: 'United State Of America',
  808: '12',
  812: nan,
  813: nan,
  814: 'United State Of America',
  815: 'United State Of America',
  819: nan,
  820: 'U.S.A.',
  821: 'U.S.A.',
  823: 'United State Of America',
  824: 'U.S.A.',
  826: 'U.S.A.',
  827: '12',
  828: 'United State Of America',
  829: '12',
  831: '12',
  832: '12',
  833: 'U.S.A.',
  834: nan,
  835: '12',
  836: 'United State Of America',
  837: '12',
  838: '12',
  841: nan,
  842: '12',
  843: 'United State Of America',
  844: '12',
  846: '12',
  848: 'U.S.A.',
  850: 'United State Of America',
  851: '12',
  852: 'U.S.A.',
  853: 'U.S.A.',
  854: nan,
  855: nan,
  856: nan,
  857: 'United State Of America',
  859: nan,
  862: 'United State Of America',
  863: '12',
  864: 'United State Of America',
  865: nan,
  866: '12',
  867: nan,
  868: '12',
  871: nan,
  872: nan,
  873: '12',
  874: '12',
  875: nan,
  876: nan,
  882: 'United State Of America',
  883: '12',
  884: 'United State Of America',
  885: 'United State Of America',
  886: 'United State Of America',
  887: 'U.S.A.',
  888: '12',
  889: '12',
  890: 'United State Of America',
  891: 'United State Of America',
  893: 'U.S.A.',
  894: 'U.S.A.',
  895: nan,
  896: 'U.S.A.',
  898: 'United State Of America',
  899: nan,
  901: nan,
  903: 'United State Of America',
  905: nan,
  906: 'U.S.A.',
  907: nan,
  908: nan,
  909: 'United State Of America',
  910: 'U.S.A.',
  911: '12',
  913: 'U.S.A.',
  914: 'United State Of America',
  915: 'United State Of America',
  916: 'United State Of America',
  917: nan,
  919: 'U.S.A.',
  921: '12',
  922: '12',
  923: 'United State Of America',
  924: '12',
  926: '12',
  928: 'U.S.A.',
  929: nan,
  930: '12',
  932: 'United State Of America',
  934: '12',
  935: 'United State Of America',
  936: 'U.S.A.',
  940: nan,
  941: '12',
  942: 'U.S.A.',
  943: 'United State Of America',
  945: '12',
  948: 'United State Of America',
  949: 'United State Of America',
  950: nan,
  952: nan,
  953: '12',
  954: nan,
  955: 'U.S.A.',
  956: nan,
  957: nan,
  958: 'United State Of America',
  959: '12',
  960: '12',
  962: nan,
  963: 'U.S.A.',
  964: 'U.S.A.',
  965: 'United State Of America',
  966: 'United State Of America',
  967: 'United State Of America',
  970: '12',
  972: 'U.S.A.',
  973: nan,
  974: 'U.S.A.',
  975: nan,
  976: '12',
  977: 'U.S.A.',
  978: '12',
  980: 'U.S.A.',
  981: nan,
  988: nan,
  989: 'U.S.A.',
  991: '12',
  992: nan,
  995: 'United State Of America',
  996: '12',
  998: 'United State Of America',
  999: 'U.S.A.',
  1000: '12',
  1001: nan,
  1002: 'United State Of America',
  1003: 'United State Of America',
  1004: nan,
  1005: '12',
  1006: 'U.S.A.',
  1008: 'United State Of America',
  1009: '12',
  1012: 'United State Of America',
  1014: '12',
  1015: 'United State Of America',
  1017: 'United State Of America',
  1018: 'United State Of America',
  1020: 'U.S.A.',
  1021: 'United State Of America',
  1022: 'United State Of America',
  1023: 'U.S.A.',
  1024: 'United State Of America',
  1026: nan,
  1028: 'U.S.A.',
  1029: 'U.S.A.',
  1030: '12',
  1031: nan,
  1032: 'U.S.A.',
  1035: nan,
  1037: nan,
  1040: 'United State Of America',
  1041: 'U.S.A.',
  1042: 'United State Of America',
  1044: 'United State Of America',
  1045: nan,
  1046: '12',
  1048: '12',
  1049: 'United State Of America',
  1050: nan,
  1051: nan,
  1052: 'U.S.A.',
  1053: 'U.S.A.',
  1054: 'United State Of America',
  1056: nan,
  1057: '12',
  1059: '12',
  1060: nan,
  1061: 'United State Of America',
  1062: 'United State Of America',
  1064: 'U.S.A.',
  1065: '12',
  1066: 'U.S.A.',
  1068: '12',
  1072: 'United State Of America',
  1073: nan,
  1076: nan,
  1077: nan,
  1078: 'U.S.A.',
  1079: 'U.S.A.',
  1081: 'United State Of America',
  1082: 'United State Of America',
  1083: nan,
  1085: nan,
  1086: 'U.S.A.',
  1088: 'U.S.A.',
  1089: 'United State Of America',
  1090: nan,
  1091: nan,
  1092: 'United State Of America',
  1093: '12',
  1094: '12',
  1095: nan,
  1097: '12',
  1103: 'U.S.A.',
  1104: '12',
  1106: 'U.S.A.',
  1107: 'United State Of America',
  1108: 'United State Of America',
  1110: 'U.S.A.',
  1111: '12',
  1112: 'U.S.A.',
  1115: nan,
  1117: '12',
  1118: 'U.S.A.',
  1119: nan,
  1122: nan,
  1123: '12',
  1124: '12',
  1125: 'United State Of America',
  1129: '12',
  1130: 'United State Of America',
  1131: 'U.S.A.',
  1133: 'U.S.A.',
  1134: 'U.S.A.',
  1135: nan,
  1136: nan,
  1137: '12',
  1138: nan,
  1141: nan,
  1143: 'United State Of America',
  1146: 'U.S.A.',
  1148: '12',
  1152: nan,
  1153: '12',
  1156: 'U.S.A.',
  1157: '12',
  1158: 'United State Of America',
  1162: nan,
  1164: '12',
  1165: '12',
  1166: 'U.S.A.',
  1167: 'U.S.A.',
  1169: 'United State Of America',
  1171: nan,
  1173: 'U.S.A.',
  1175: 'United State Of America',
  1178: 'U.S.A.',
  1181: '12',
  1184: 'U.S.A.',
  1185: nan,
  1186: nan,
  1188: nan,
  1190: 'U.S.A.',
  1191: 'United State Of America',
  1192: nan,
  1193: nan,
  1195: '12',
  1196: 'United State Of America',
  1197: nan,
  1198: 'United State Of America',
  1199: '12',
  1202: 'United State Of America',
  1204: '12',
  1205: 'U.S.A.',
  1206: 'U.S.A.',
  1207: 'U.S.A.',
  1208: 'United State Of America',
  1209: '12',
  1210: '12',
  1211: 'United State Of America',
  1212: 'U.S.A.',
  1213: 'United State Of America',
  1214: nan,
  1215: '12',
  1216: 'United State Of America',
  1217: 'United State Of America',
  1218: 'United State Of America',
  1219: '12',
  1220: 'U.S.A.',
  1221: nan,
  1226: 'U.S.A.',
  1227: 'U.S.A.',
  1228: 'United State Of America',
  1230: '12',
  1231: nan,
  1232: nan,
  1234: 'U.S.A.',
  1235: nan,
  1237: 'U.S.A.',
  1238: 'U.S.A.',
  1239: 'United State Of America',
  1240: '12',
  1241: 'United State Of America',
  1242: 'U.S.A.',
  1243: '12',
  1246: nan,
  1248: '12',
  1250: 'U.S.A.',
  1251: 'U.S.A.',
  1252: 'United State Of America',
  1253: 'United State Of America',
  1254: '12',
  1256: 'U.S.A.',
  1259: 'United State Of America',
  1260: '12',
  1261: '12',
  1262: 'U.S.A.',
  1264: nan,
  1266: '12',
  1268: nan,
  1270: nan,
  1271: 'U.S.A.',
  1272: 'U.S.A.',
  1273: '12',
  1275: 'United State Of America',
  1279: 'United State Of America',
  1281: 'U.S.A.',
  1282: '12',
  1283: nan,
  1284: 'U.S.A.',
  1288: 'United State Of America',
  1289: 'U.S.A.',
  1293: nan,
  1295: nan,
  1296: 'U.S.A.',
  1297: 'U.S.A.',
  1298: 'United State Of America',
  1299: 'U.S.A.',
  1300: '12',
  1301: 'United State Of America',
  1302: 'U.S.A.',
  1303: 'U.S.A.',
  1304: '12',
  1305: 'United State Of America',
  1306: 'U.S.A.',
  1308: nan,
  1311: '12',
  1312: 'United State Of America',
  1314: 'United State Of America',
  1315: 'U.S.A.',
  1316: 'United State Of America',
  1317: 'United State Of America',
  1318: 'United State Of America',
  1319: '12',
  1321: '12',
  1322: '12',
  1324: nan,
  1325: 'U.S.A.',
  1327: '12',
  1328: nan,
  1332: '12',
  1334: '12',
  1335: nan,
  1336: 'U.S.A.',
  1337: nan,
  1338: '12',
  1342: nan,
  1343: '12',
  1344: 'U.S.A.',
  1345: 'U.S.A.',
  1346: nan,
  1347: '12',
  1348: 'U.S.A.',
  1350: '12',
  1351: 'U.S.A.',
  1353: 'U.S.A.',
  1354: '12',
  1355: nan,
  1357: 'United State Of America',
  1361: 'U.S.A.',
  1362: 'United State Of America',
  1363: 'U.S.A.',
  1365: '12',
  1366: 'United State Of America',
  1367: 'U.S.A.',
  1368: '12',
  1369: 'U.S.A.',
  1370: nan,
  1371: '12',
  1372: '12',
  1373: '12',
  1375: '12',
  1376: 'U.S.A.',
  1378: 'U.S.A.',
  1380: 'U.S.A.',
  1382: 'United State Of America',
  1383: nan,
  1384: nan,
  1385: 'United State Of America',
  1386: 'U.S.A.',
  1387: 'United State Of America',
  1388: '12',
  1389: 'United State Of America',
  1390: '12',
  1391: '12',
  1392: 'United State Of America',
  1393: 'United State Of America',
  1394: '12',
  1397: nan,
  1398: 'United State Of America',
  1401: '12',
  1402: 'United State Of America',
  1403: '12',
  1404: 'U.S.A.',
  1405: nan,
  1407: '12',
  1408: '12',
  1409: 'U.S.A.',
  1410: nan,
  1411: 'U.S.A.',
  1412: 'United State Of America',
  1415: nan,
  1416: 'U.S.A.',
  1417: 'United State Of America',
  1418: '12',
  1419: '12',
  1420: 'U.S.A.',
  1421: nan,
  1422: 'United State Of America',
  1423: 'United State Of America',
  1425: 'United State Of America',
  1427: 'U.S.A.',
  1430: 'United State Of America',
  1433: 'U.S.A.',
  1434: nan,
  1435: nan,
  1436: '12',
  1437: nan,
  1438: 'U.S.A.',
  1439: nan,
  1441: nan,
  1443: nan,
  1444: nan,
  1445: '12',
  1447: 'U.S.A.',
  1451: nan,
  1452: 'United State Of America',
  1453: 'U.S.A.',
  1454: 'United State Of America',
  1455: '12',
  1456: '12',
  1457: 'U.S.A.',
  1458: 'United State Of America',
  1464: '12',
  1466: 'U.S.A.',
  1468: '12',
  1470: nan,
  1473: nan,
  1474: 'U.S.A.',
  1475: 'U.S.A.',
  1477: 'U.S.A.',
  1478: nan,
  1479: nan,
  1480: nan,
  1482: nan,
  1484: 'U.S.A.',
  1485: nan,
  1486: '12',
  1487: 'U.S.A.',
  1488: 'U.S.A.',
  1489: 'United State Of America',
  ...},
 'This column contains 6647 dirty values')

In [5]:
#Clean Table 1 
df1["Gender"]=df1["Gender"].apply(u.clean_gender)
df1['FirstName']=df1["FirstName"].apply(u.clean_name)
df1['LastName']=df1["LastName"].apply(u.clean_name)
df1["Email"]=df1["Email"].str.lower()
df1["Age"]=df1["Age"].apply(str)
df1['City']=df1["City"].apply(u.clean_city)
df1['Country']="USA"
df1.drop(['UserName'],inplace=True,axis=1)

In [6]:
#test to check if the modification above works
df1

,Gender,FirstName,LastName,Email,Age,City,Country
0,Female,Latesha,Barton,forgottoask@woodinc,85,Indianapolis,USA
1,Female,Yolando,Jast,yolando_jast@yahoo.com,53,Columbus,USA
2,Male,Stacy,Johnson,stacy.johnson@yahoo.com,64,Indianapolis,USA
3,Male,Abdul,Mayert,mayert.abdul@hotmail.com,79,Phoenix,USA
4,Male,Julius,Reinger,reinger_julius@hotmail.com,65,Jacksonville,USA
...,...,...,...,...,...,...,...
9995,Male,Young,Koch,koch_young@hotmail.com,44,Jacksonville,USA
9996,Male,Craig,Runte,craig.runte@gmail.com,29,Indianapolis,USA
9997,Female,Leora,Trantow,trantow.leora@hotmail.com,97,New York,USA
9998,Female,Nery,Heller,heller_nery@hotmail.com,86,New York,USA
9999,Female,Linda,Dickens,dickens.linda@yahoo.com,58,San Diego,USA

In [7]:
u.check_string_column(df1["FirstName"])

({6832: None}, 'This column contains 1 dirty values')

In [8]:
df2

,Age,City,Gender,Name,Email
0,51,austin,1,lorette kutch,Kutch.lorette@gmail.com
1,84,san diego,Female,CLORINDA WIZA,clorinda.wiza@gmail.com
2,97,Columbus,Male,"\Joesph\"""" ""littel""",LITTEL.JOESPH@GMAIL.COM
3,90,Jacksonville,Male,carlo Stokes,carlo_stokes@gmail.com
4,57,charlotte,Male,"KASEY ""prosacco""",Kasey.prosacco@hotmail.com
...,...,...,...,...,...
9995,60,fort-worth,Female,"tennille ""Klein""",klein.tennille@yahoo.com
9996,43,SAN-DIEGO,F,"Suzanna ""Kunze""",SUZANNA.KUNZE@HOTMAIL.COM
9997,19,charlotte,Male,"derick ""BARTELL""",derick.bartell@gmail.com
9998,46,Indianapolis,M,tom BLOCK,tom_block@hotmail.com
9999,59,NEW-YORK,Male,"Allen ""hammes""",allen.hammes@hotmail.com

In [9]:
#Checking columns Table 2
u.check_numerical_column(df2['Age']) # all the value are str values but for some of them we have to retrive some additional str as 'year,yo,years' and replace them with empty
u.check_string_column(df2["City"]) # This column contains 3922 dirty values we should replace - and _ characters by empty  and make Cities started by upcase letter 
u.check_string_column(df2['Gender']) #This column contains 997 dirty values 0 and 1 must be changed into Male and Female: Same for M and F
u.check_string_column(df2["Name"]) #This column contains 10000 dirty values because of the escape, we will use it to separate the firstName and the last Name . Neithereless we must replace \\ "" characters by emplty and make names started by upcase letter.

({0: 'lorette kutch',
  1: 'CLORINDA WIZA',
  2: '\\Joesph\\"" "littel"',
  3: 'carlo Stokes',
  4: 'KASEY "prosacco"',
  5: 'WILL "hahn"',
  6: '\\Junko\\"" "STOKES"',
  7: 'Kacey Paucek',
  8: 'RENATO Zieme',
  9: 'WILLIAM "becker"',
  10: 'charles Raynor',
  11: 'REYES "Tromp"',
  12: 'norris Aufderhar',
  13: 'ZOFIA GLEASON',
  14: 'LARONDA heidenreich',
  15: 'BRIGETTE "johns"',
  16: 'JUANITA "Hammes"',
  17: '\\Lupe\\"" "SAUER"',
  18: 'deon runte',
  19: 'CLAYTON "RAU"',
  20: 'DANYELL PARISIAN',
  21: 'alfonso Flatley',
  22: 'antony "\\"Towne\\""',
  23: 'emil "goodwin"',
  24: 'ty "ROBERTS"',
  25: 'FRANKIE Durgan',
  26: '\\Steve\\"" GAYLORD',
  27: 'Kendal ROSENBAUM',
  28: 'lavinia "\\"Tillman\\""',
  29: '\\Jonna\\"" "Abernathy"',
  30: 'gonzalo Stamm',
  31: '\\Anthony\\"" "HAGENES"',
  32: 'rene "white"',
  33: 'LAURE "larson"',
  34: 'anthony THIEL',
  35: 'SCOT "\\"Harvey\\""',
  36: 'Kenneth "nader"',
  37: 'WESLEY "\\"Gottlieb\\""',
  38: 'shawnee Cartwright',
  39: 'rayford "KASSULKE"',
  40: 'KIP abshire',
  41: 'TAYLOR ABERNATHY',
  42: 'Carolee TOY',
  43: 'ROBERT barrows',
  44: 'oswaldo "walsh"',
  45: 'brittny koss',
  46: 'GLORY "Bode"',
  47: 'CHRIS Baumbach',
  48: 'myron JACOBS',
  49: 'KENNETH BAYER',
  50: 'kiersten "moore"',
  51: 'tania JOHNSTON',
  52: 'JAQUELINE "aufderhar"',
  53: 'Allan schmeler',
  54: 'REFUGIO Walker',
  55: 'ERNESTO "bahringer"',
  56: 'Concetta "\\"Waters\\""',
  57: 'Meagan "kihn"',
  58: 'Julianne legros',
  59: '\\Emanuel\\"" "SCHADEN"',
  60: 'VERENA "hammes"',
  61: 'BEAU Wyman',
  62: 'Monty ebert',
  63: 'else larkin',
  64: 'deana "STOLTENBERG"',
  65: 'DARIN ortiz',
  66: 'Hollis Schroeder',
  67: 'santo cormier',
  68: 'ELMER FERRY',
  69: 'KARRI Tremblay',
  70: 'edgardo "\\"Trantow\\""',
  71: 'LEILA "TERRY"',
  72: 'brock "KLEIN"',
  73: 'MADELEINE "KONOPELSKI"',
  74: 'CARROL STANTON',
  75: 'VALENTINE "davis"',
  76: 'rick balistreri',
  77: 'LINDSAY "reilly"',
  78: 'Malcolm "hamill"',
  79: 'fred METZ',
  80: 'julianne "Kutch"',
  81: 'jerald abernathy',
  82: 'MALINDA "ankunding"',
  83: 'andres Yundt',
  84: 'Deonna "HEATHCOTE"',
  85: 'tressie "BOEHM"',
  86: 'DELPHINE GLEASON',
  87: 'ANGLEA "\\"Schneider\\""',
  88: 'Denita Haag',
  89: 'WERNER Bahringer',
  90: 'alexandria "lubowitz"',
  91: 'tamesha ullrich',
  92: 'Leigh "schaden"',
  93: 'JULIUS "Bergstrom"',
  94: 'sang Murray',
  95: 'MANDA Gleichner',
  96: 'Usha HICKLE',
  97: 'cara "Aufderhar"',
  98: 'Glen "kertzmann"',
  99: 'SAMMIE Friesen',
  100: 'GERALYN lueilwitz',
  101: 'OCTAVIO "CONN"',
  102: 'Irena hessel',
  103: 'Stuart ROOB',
  104: 'CAROLA daugherty',
  105: 'clifford "kulas"',
  106: 'johnie "blanda"',
  107: 'LAVONE Crooks',
  108: 'MARQUITA "parisian"',
  109: 'billie OKUNEVA',
  110: 'neil Russel',
  111: 'TERESITA NOLAN',
  112: 'lachelle "koepp"',
  113: 'robt "\\"Leffler\\""',
  114: 'Christian SCHMELER',
  115: 'reva MAYER',
  116: "Aaron o'kon",
  117: 'JESSI "OBERBRUNNER"',
  118: 'Davis "schulist"',
  119: 'DANIELE "boehm"',
  120: 'robby "hyatt"',
  121: '\\Rene\\"" "Price"',
  122: 'Lonnie feil',
  123: 'clifford "harvey"',
  124: 'ALVIN "STRACKE"',
  125: 'alexander goldner',
  126: '\\Glenna\\"" HESSEL',
  127: 'MEG "KIHN"',
  128: 'Alphonso "Prosacco"',
  129: 'CUC "casper"',
  130: 'Marline becker',
  131: 'MONTY "parisian"',
  132: 'TULA Botsford',
  133: 'Marshall GRIMES',
  134: 'gearldine Leannon',
  135: '\\Austin\\"" "Carter"',
  136: 'rolando ZEMLAK',
  137: 'BRANDI "cummings"',
  138: 'eugenio PROHASKA',
  139: 'elida collier',
  140: 'MELISA "boyle"',
  141: 'JOANA jaskolski',
  142: 'CLAIR "buckridge"',
  143: 'Drew Weber',
  144: 'moshe GREENHOLT',
  145: 'Ira "BARTELL"',
  146: 'Pasquale "walter"',
  147: 'SONJA walsh',
  148: '\\Sherwood\\"" dibbert',
  149: '\\Lynne\\"" padberg',
  150: 'leesa HUEL',
  151: 'frances hagenes',
  152: 'EUSEBIO MARKS',
  153: 'BLAKE kuhlman',
  154: 'candie Christiansen',
  155: 'MARTY Mcdermott',
  156: 'margert Schultz',
  157: 'FERNANDE "GULGOWSKI"',
  158: 'deanne Streich',
  159: 'Efren "LUEILWITZ"',
  160: 'josue "OKUNEVA"',
  161: 'fern "kuhic"',
  162: 'Tiesha "strosin"',
  163: 'SAL wolf',
  164: 'johnny "hintz"',
  165: 'evan "kreiger"',
  166: 'DELENA Stark',
  167: 'SHARAN "MOEN"',
  168: 'kaye white',
  169: 'Jacinto Hansen',
  170: 'ROBENA Moore',
  171: 'PHILLIS "SCHMIDT"',
  172: 'Diann "funk"',
  173: 'SHANE "\\"Runolfsdottir\\""',
  174: 'shad "russel"',
  175: 'MERRI harber',
  176: 'FERDINAND "Hudson"',
  177: 'LEROY "HALEY"',
  178: 'Wally Little',
  179: 'Lorita ROOB',
  180: 'thanh "GRIMES"',
  181: 'otto "cummings"',
  182: 'ken Morissette',
  183: 'boyce ROBERTS',
  184: 'ariel "KUHIC"',
  185: 'jewell "BERNHARD"',
  186: 'MAURO "lockman"',
  187: 'Amos Hauck',
  188: 'CLIFF "MORAR"',
  189: "Dominique O'KON",
  190: 'maris "johnson"',
  191: 'ja PACOCHA',
  192: 'Dean "mcdermott"',
  193: 'SAM "Boehm"',
  194: 'claudia "\\"Gorczany\\""',
  195: 'SOMMER Ward',
  196: 'jenni Considine',
  197: 'Era "BOYLE"',
  198: 'donnette "Kuvalis"',
  199: 'Candis franecki',
  200: '\\Benjamin\\"" "Hoppe"',
  201: 'sammy mckenzie',
  202: 'Chung Veum',
  203: 'Lamar "bogan"',
  204: 'marhta "STOKES"',
  205: 'MISTI "RICE"',
  206: 'Lavonne Olson',
  207: 'hallie SCHMELER',
  208: 'cyrus "Medhurst"',
  209: 'richelle "MILLER"',
  210: 'MIGUEL "dietrich"',
  211: '\\Claud\\"" Kemmer',
  212: 'AUSTIN Harber',
  213: 'exie "hilpert"',
  214: 'ernest "\\"Jakubowski\\""',
  215: '\\Dianna\\"" Lowe',
  216: 'tom MILLS',
  217: 'Margarito HILPERT',
  218: 'rocio "bergstrom"',
  219: 'frank casper',
  220: 'OTIS BOEHM',
  221: '\\Chadwick\\"" "kris"',
  222: 'PARTHENIA Kris',
  223: 'michale GISLASON',
  224: 'Whitney runte',
  225: 'PIERRE "kling"',
  226: 'Gerry satterfield',
  227: 'reginald Breitenberg',
  228: 'marcel Olson',
  229: 'WILBER "cole"',
  230: 'rachelle Lockman',
  231: 'CARMEL Metz',
  232: 'Fern "bogisich"',
  233: 'DOREATHA "\\"Hamill\\""',
  234: 'CAMILA "schroeder"',
  235: '\\Murray\\"" "reilly"',
  236: 'richie emmerich',
  237: 'larae "ledner"',
  238: 'lenny vonrueden',
  239: 'cammie "ferry"',
  240: 'ETHELENE "\\"Bergstrom\\""',
  241: '\\Jackson\\"" goldner',
  242: 'Candance "wolff"',
  243: 'elvin Pfannerstill',
  244: 'Heike Haag',
  245: 'AZZIE "\\"Crooks\\""',
  246: 'RAYMOND "WUNSCH"',
  247: 'laureen Moore',
  248: 'WILLETTE "KIEHN"',
  249: 'FRITZ Altenwerth',
  250: 'RICHARD "hills"',
  251: 'maurice "HOMENICK"',
  252: 'MARY ABBOTT',
  253: 'Earle kohler',
  254: 'Wilford "\\"Emmerich\\""',
  255: 'ELSE "rempel"',
  256: 'Bettie KUHN',
  257: 'ernie "grady"',
  258: 'ta "schuster"',
  259: 'quentin "BERGNAUM"',
  260: '\\Jessie\\"" VONRUEDEN',
  261: '\\Mayme\\"" keebler',
  262: 'nolan HYATT',
  263: 'ezekiel "DAVIS"',
  264: 'silas "hintz"',
  265: 'zula emmerich',
  266: 'weston GLOVER',
  267: 'Werner Fisher',
  268: 'MARITA corkery',
  269: 'scottie RODRIGUEZ',
  270: 'beau "\\"Pouros\\""',
  271: 'suanne Skiles',
  272: 'gerardo "COLLIER"',
  273: 'JOHNNA "\\"Huel\\""',
  274: 'Sunni bode',
  275: 'VAL "MARQUARDT"',
  276: 'Ma DIETRICH',
  277: 'CLIFFORD "macejkovic"',
  278: '\\Berry\\"" kling',
  279: 'Lavern "\\"Gaylord\\""',
  280: 'Hilda Jakubowski',
  281: 'anglea WILLMS',
  282: '\\Quinn\\"" "o\'reilly"',
  283: 'Sidney kling',
  284: 'ALLEN SPORER',
  285: 'Donovan Cormier',
  286: 'pat Johnson',
  287: 'Andrea Greenholt',
  288: 'enoch "WINDLER"',
  289: 'KIRSTIE "STREICH"',
  290: 'VIVAN "auer"',
  291: 'Ward Sanford',
  292: 'Karin ZIEME',
  293: 'Phillip "langosh"',
  294: 'valentine "Blanda"',
  295: 'TENESHA Rau',
  296: 'lynn "o\'conner"',
  297: 'ADDIE "LEANNON"',
  298: 'Geneva "cormier"',
  299: 'Taylor Langosh',
  300: '\\Dudley\\"" "doyle"',
  301: 'TERRANCE "VOLKMAN"',
  302: 'rebecka Cronin',
  303: 'HUMBERTO "gleichner"',
  304: 'Sadye WISOKY',
  305: '\\Booker\\"" KIEHN',
  306: 'JOHN armstrong',
  307: 'GIOVANNI Johnston',
  308: 'quinton Murphy',
  309: 'ELIA KOCH',
  310: 'arron "\\"Stroman\\""',
  311: 'stacy "goyette"',
  312: 'Lawanda "\\"Christiansen\\""',
  313: 'phillip Russel',
  314: 'SIMONE Goodwin',
  315: '\\Thaddeus\\"" howe',
  316: 'Maryellen "lynch"',
  317: 'FRITZ Leannon',
  318: 'Inga "hills"',
  319: 'MICHAELE Mayert',
  320: 'jina "MOEN"',
  321: "ha o'connell",
  322: 'drucilla "ONDRICKA"',
  323: 'Jason PROHASKA',
  324: 'clark KRAJCIK',
  325: 'GARRET "brakus"',
  326: 'SYLVESTER brekke',
  327: 'CARLEY "\\"Little\\""',
  328: 'claudia Ryan',
  329: 'izetta "\\"Streich\\""',
  330: 'adell heller',
  331: 'deandre "Bins"',
  332: 'DEON glover',
  333: 'harmony "corkery"',
  334: 'MAGALI bechtelar',
  335: 'Wilfred "jerde"',
  336: 'carlton BATZ',
  337: 'ELAINE Rempel',
  338: 'Rodolfo mann',
  339: 'augustine "\\"Crona\\""',
  340: 'agustin "Gutmann"',
  341: 'CHRISSY Ward',
  342: 'leo "welch"',
  343: 'pete "brekke"',
  344: 'DWANA Haley',
  345: 'li "herman"',
  346: '\\Izetta\\"" "CORWIN"',
  347: 'dan gaylord',
  348: 'Donnell "\\"Kohler\\""',
  349: 'jimmy "zboncak"',
  350: 'penney hartmann',
  351: 'Laurie gutkowski',
  352: 'Basilia "BORER"',
  353: 'LUCIANO "schmidt"',
  354: 'alaine reichel',
  355: 'hong conroy',
  356: 'MITSUE Stamm',
  357: 'kandis "SPORER"',
  358: 'Teofila BARROWS',
  359: 'jamey "tremblay"',
  360: 'Susann Glover',
  361: 'tory "hermiston"',
  362: "wm o'connell",
  363: '\\Chanel\\"" "\\"Heller\\""',
  364: '\\Boris\\"" Goyette',
  365: 'sherril SCHNEIDER',
  366: "Tyrell O'REILLY",
  367: 'SHANDRA "PAUCEK"',
  368: 'maryln "torp"',
  369: 'GIOVANNI Parker',
  370: 'idell "botsford"',
  371: 'MELONIE "Hermann"',
  372: 'LETITIA "KOVACEK"',
  373: 'kiera "vonrueden"',
  374: 'joey Shanahan',
  375: 'anabel Larson',
  376: 'jerald COLE',
  377: 'walton strosin',
  378: 'denny "veum"',
  379: 'ROSANNE "Abernathy"',
  380: 'CEDRICK "beahan"',
  381: 'Vernetta "schiller"',
  382: 'paul "SCHAMBERGER"',
  383: 'NORA STREICH',
  384: 'BERNARDO olson',
  385: "JEROLD o'conner",
  386: 'antione hickle',
  387: 'erminia orn',
  388: 'Donnell SCHUSTER',
  389: 'Hilaria STREICH',
  390: 'Kurtis "schamberger"',
  391: 'ROYCE "REILLY"',
  392: 'Mckinley Haag',
  393: 'FLOYD CONNELLY',
  394: 'FIDEL "Raynor"',
  395: 'joey "paucek"',
  396: 'OWEN mckenzie',
  397: 'florentino "veum"',
  398: 'tessa "ernser"',
  399: 'Alina "hayes"',
  400: 'DIVINA brakus',
  401: 'leo hahn',
  402: 'julia DURGAN',
  403: 'AUGUST MARKS',
  404: 'dorsey "BATZ"',
  405: '\\Emely\\"" Walker',
  406: 'Jacalyn leannon',
  407: 'TERRENCE Konopelski',
  408: 'Louis hamill',
  409: 'Michale "\\"Ratke\\""',
  410: 'ebonie "Wilderman"',
  411: 'LITA Schroeder',
  412: 'taylor walsh',
  413: 'bryon "\\"Renner\\""',
  414: 'JEREMY WINTHEISER',
  415: 'neil kiehn',
  416: 'theodore BARTELL',
  417: 'Russell "LEHNER"',
  418: 'GUS dickinson',
  419: 'DESIRE nitzsche',
  420: 'RHETT Mitchell',
  421: 'titus Stoltenberg',
  422: 'brandon "\\"Heidenreich\\""',
  423: 'tonette "HICKLE"',
  424: 'ERNESTINE "\\"Renner\\""',
  425: 'DARIO nader',
  426: 'LEN "Lubowitz"',
  427: 'leopoldo "herman"',
  428: 'sha hermann',
  429: 'TRACI "\\"Koss\\""',
  430: 'ILEANA von',
  431: 'Veronica hammes',
  432: 'tad "spinka"',
  433: 'Una WOLFF',
  434: '\\Ozzie\\"" "\\"Gerhold\\""',
  435: 'MATHA quigley',
  436: 'Jamel mcglynn',
  437: 'NOEL GUSIKOWSKI',
  438: 'linn Brekke',
  439: 'SUSAN ROMAGUERA',
  440: 'dinorah jenkins',
  441: 'ARNULFO "Hessel"',
  442: 'DINO HESSEL',
  443: 'JANETH ERNSER',
  444: 'Estefana GOYETTE',
  445: 'Vannesa "Blanda"',
  446: 'lula JACOBS',
  447: 'weldon REILLY',
  448: 'carrol KIEHN',
  449: "valentine o'connell",
  450: 'SHANE schmitt',
  451: 'Patria Konopelski',
  452: 'dung "treutel"',
  453: 'CHUCK Smith',
  454: 'Joshua "price"',
  455: 'Ione Tromp',
  456: 'Aron swaniawski',
  457: 'AVRIL halvorson',
  458: 'sandra ROOB',
  459: 'ARLEAN Barrows',
  460: 'DEVIN "stoltenberg"',
  461: 'Mitch "TURCOTTE"',
  462: 'ERIKA "GRADY"',
  463: 'roxanna stoltenberg',
  464: 'ROY JOHNSTON',
  465: 'Houston Barrows',
  466: 'alita "Abernathy"',
  467: 'Stephen "walsh"',
  468: 'Mikel MOEN',
  469: 'theodore GREENFELDER',
  470: 'RENE SCHUPPE',
  471: 'Clarinda DECKOW',
  472: 'Annamae "\\"Boyle\\""',
  473: 'SHAUN GERLACH',
  474: 'gabrielle "\\"Gislason\\""',
  475: 'LORE Anderson',
  476: 'andreas "haley"',
  477: 'KATERINE balistreri',
  478: 'natashia Jones',
  479: '\\Lenard\\"" BARTELL',
  480: 'randal BEATTY',
  481: 'WILFORD "BECKER"',
  482: 'NAN Koch',
  483: 'erminia "GREENHOLT"',
  484: 'Herman "pagac"',
  485: 'victoria "\\"Bogisich\\""',
  486: 'blair LEHNER',
  487: 'Michael bernhard',
  488: 'louis "gleason"',
  489: 'ART STOLTENBERG',
  490: 'KENISHA DICKI',
  491: 'DEWITT "konopelski"',
  492: 'loyd weissnat',
  493: 'pierre "WITTING"',
  494: 'SAMARA "corkery"',
  495: 'Berenice "STROSIN"',
  496: 'rolf VANDERVORT',
  497: 'Gale Swift',
  498: 'Francine greenfelder',
  499: 'zachery "ziemann"',
  500: 'minh Nienow',
  501: 'grant Erdman',
  502: 'wilbert cronin',
  503: 'bree "SWIFT"',
  504: 'Christal "DAVIS"',
  505: 'Shayne "MAGGIO"',
  506: 'MILDA Turcotte',
  507: "Kathlyn O'KON",
  508: 'BRENDON ONDRICKA',
  509: 'LUIS quitzon',
  510: 'Carmen Witting',
  511: 'Leana "jerde"',
  512: 'DEAN BARTOLETTI',
  513: 'IRAIDA "wehner"',
  514: 'Kendall "hagenes"',
  515: 'mindy Barton',
  516: 'frederick lebsack',
  517: '\\Marielle\\"" aufderhar',
  518: 'bryanna COLE',
  519: 'Adell MANN',
  520: 'Blair "KIEHN"',
  521: 'Clarence Christiansen',
  522: 'wilma "KOVACEK"',
  523: 'dustin ledner',
  524: 'Jetta BAUMBACH',
  525: 'LAMONICA "olson"',
  526: 'Retha ortiz',
  527: 'ANDRE "SCHAEFER"',
  528: 'joyce "HALEY"',
  529: 'Donya "streich"',
  530: 'Patricia "MOHR"',
  531: 'FRANCESCO "kreiger"',
  532: 'scott "Hodkiewicz"',
  533: 'CASSI Koch',
  534: 'LAURINE "morar"',
  535: 'lourdes MARVIN',
  536: 'IRVIN "keeling"',
  537: 'Stefania williamson',
  538: 'rosalina king',
  539: 'Lannie bins',
  540: 'XOCHITL Hammes',
  541: 'DEBBY "larkin"',
  542: 'carisa "REMPEL"',
  543: 'Garfield Hoeger',
  544: '\\Lilian\\"" "Williamson"',
  545: 'wesley Conroy',
  546: 'Marissa "Goodwin"',
  547: 'SCOTT Sporer',
  548: 'williams "kiehn"',
  549: 'ESTELL Paucek',
  550: 'sydney "Boyle"',
  551: 'Cleveland Schinner',
  552: 'TEMIKA "\\"Herzog\\""',
  553: 'Shirl "TORPHY"',
  554: 'AMOS Volkman',
  555: 'jarred feil',
  556: 'tana "\\"Wisozk\\""',
  557: 'usha "glover"',
  558: 'OMAR LEMKE',
  559: 'mariam Bergnaum',
  560: 'EDWINA "barton"',
  561: 'ERMA "JAKUBOWSKI"',
  562: 'NADINE PREDOVIC',
  563: 'IRVIN yost',
  564: 'Rosa Thiel',
  565: 'darcel "klocko"',
  566: 'TRACY "bins"',
  567: 'HEATH "bailey"',
  568: 'dakota "\\"Johnston\\""',
  569: '\\Trena\\"" o\'reilly',
  570: 'gerry STROMAN',
  571: 'marisol "Stanton"',
  572: 'Dwain Nikolaus',
  573: 'Minta FAHEY',
  574: 'earl Dach',
  575: 'GABRIEL "mclaughlin"',
  576: 'elease CARTWRIGHT',
  577: 'JAMAR STRACKE',
  578: 'Markus "keebler"',
  579: 'VANCE BATZ',
  580: 'jeri ruecker',
  581: 'Keith haley',
  582: 'Elaine KASSULKE',
  583: 'HUNG "YUNDT"',
  584: 'darleen "yundt"',
  585: 'JANETT "feil"',
  586: 'RAMIRO "FRANECKI"',
  587: 'Esperanza effertz',
  588: 'KARIMA CONNELLY',
  589: 'Jana jast',
  590: 'DOMINICK "bechtelar"',
  591: 'Krissy "Runolfsdottir"',
  592: "Marcela O'keefe",
  593: 'ELIJAH "Crona"',
  594: 'Long "\\"Kirlin\\""',
  595: 'AURELIO ritchie',
  596: 'MAYRA "wunsch"',
  597: 'WERNER "tromp"',
  598: 'zachery "parisian"',
  599: 'Emmett BEAHAN',
  600: '\\Rico\\"" "FRITSCH"',
  601: 'Elisha "kassulke"',
  602: 'evie VON',
  603: '\\Samuel\\"" Davis',
  604: 'JOSPEH steuber',
  605: 'Ozzie Reichert',
  606: 'kerry WATSICA',
  607: 'RANDI "PROSACCO"',
  608: 'chase "\\"Luettgen\\""',
  609: 'JERALD "\\"Pollich\\""',
  610: 'Rick STIEDEMANN',
  611: 'CORTEZ Hilpert',
  612: 'DONALD waters',
  613: '\\Lester\\"" LOWE',
  614: 'LUCRETIA "huels"',
  615: 'Nikia Gorczany',
  616: 'corrie Franecki',
  617: 'BILLIE Legros',
  618: 'deetta STRACKE',
  619: 'Josefine Pacocha',
  620: 'CIRA "Veum"',
  621: 'MAURICE Torp',
  622: 'KATINA Breitenberg',
  623: '\\Preston\\"" "Rath"',
  624: '\\Colin\\"" "rau"',
  625: 'ARACELI stehr',
  626: 'Lorna Rice',
  627: 'ELLYN little',
  628: 'jody Rice',
  629: 'madeleine Schroeder',
  630: 'ALLEN green',
  631: 'theron "LANG"',
  632: 'Rene Shanahan',
  633: 'damien PARKER',
  634: 'Rivka "HERMISTON"',
  635: "JC O'CONNER",
  636: 'hobert BLOCK',
  637: 'christiana feest',
  638: 'joann PADBERG',
  639: 'connie "corkery"',
  640: 'Ian "MARVIN"',
  641: 'ALBERTO steuber',
  642: 'nolan "christiansen"',
  643: 'EDISON Kertzmann',
  644: 'Bessie "\\"Corwin\\""',
  645: 'SONNY STIEDEMANN',
  646: 'abraham Cronin',
  647: 'KAREEM "BORER"',
  648: 'armand "FEENEY"',
  649: 'Herschel "\\"Rolfson\\""',
  650: 'Cherry "herzog"',
  651: 'antione "\\"Jacobs\\""',
  652: 'JOHNSON "HICKLE"',
  653: 'KENNETH "monahan"',
  654: 'VIVAN Rowe',
  655: 'DAN Walker',
  656: 'Zina "HOPPE"',
  657: 'MARGO "SCHULIST"',
  658: 'NIKOLE "macgyver"',
  659: 'tatiana "Pfeffer"',
  660: 'CHERRI "schaden"',
  661: 'Lindsey "BOEHM"',
  662: '\\Na\\"" Schowalter',
  663: 'bret "LEBSACK"',
  664: 'Laverna aufderhar',
  665: 'Samella Senger',
  666: 'taylor Schaefer',
  667: 'elvie "\\"Senger\\""',
  668: '\\Jodi\\"" SCHADEN',
  669: 'IRWIN "reichel"',
  670: 'Erna "\\"Christiansen\\""',
  671: 'marisol "pfeffer"',
  672: 'Hugh Johnson',
  673: '\\Zachariah\\"" "kutch"',
  674: 'TRACEY "heidenreich"',
  675: 'dusty GOLDNER',
  676: 'Cherilyn "bode"',
  677: 'JOELLA thiel',
  678: 'BARBAR Muller',
  679: 'Aleta Welch',
  680: 'ILIANA "MURAZIK"',
  681: 'Margie "WALKER"',
  682: 'SANJUANA RAU',
  683: 'HYO MOSCISKI',
  684: 'lamonica BERNIER',
  685: 'ALBERTO PFEFFER',
  686: 'LYNDON Satterfield',
  687: 'MARYLOUISE white',
  688: 'DONA doyle',
  689: '\\Annabell\\"" TRANTOW',
  690: 'denny "Strosin"',
  691: 'DEIRDRE "DANIEL"',
  692: 'jonah daugherty',
  693: 'DAVID "\\"Ebert\\""',
  694: '\\Elbert\\"" "runolfsson"',
  695: 'palmer rau',
  696: 'BERNICE king',
  697: 'TATIANA "stracke"',
  698: 'Marica CONSIDINE',
  699: 'angelo SCHAEFER',
  700: 'BILLIE Sawayn',
  701: 'LAQUANDA Lowe',
  702: 'Deandre "williamson"',
  703: 'LEAH CASSIN',
  704: 'Vita "BALISTRERI"',
  705: 'JAMIE "gutkowski"',
  706: 'shayne TRANTOW',
  707: 'rosaria PROSACCO',
  708: 'monty "heller"',
  709: 'BRITT "christiansen"',
  710: 'Anthony nikolaus',
  711: "KRISTEN O'REILLY",
  712: 'Kenton "\\"Hand\\""',
  713: 'matthew "Langosh"',
  714: 'ROSARIO murray',
  715: 'MOSHE Boehm',
  716: 'CHRISTIANE yost',
  717: 'JAN "kiehn"',
  718: 'WINSTON LEMKE',
  719: 'kristine "Leffler"',
  720: '\\Geoffrey\\"" "stracke"',
  721: 'marcella "RUECKER"',
  722: 'jennell Considine',
  723: 'charlie Crist',
  724: 'Aliza "christiansen"',
  725: 'LESTER Gottlieb',
  726: 'LUANNA LEHNER',
  727: 'HAYDEN "\\"Gusikowski\\""',
  728: 'carson "ankunding"',
  729: '\\Dayna\\"" "CREMIN"',
  730: 'RODRICK "zulauf"',
  731: 'Leonia "stracke"',
  732: 'Herb CHAMPLIN',
  733: 'rickie Waters',
  734: 'Barton KESSLER',
  735: 'IVAN "TORP"',
  736: 'tyrone "\\"Halvorson\\""',
  737: '\\Trenton\\"" STANTON',
  738: 'EZEKIEL schoen',
  739: 'raleigh "deckow"',
  740: 'JAIME roob',
  741: 'DARON dare',
  742: 'MAUDIE "\\"Kuhlman\\""',
  743: 'Adella GLEICHNER',
  744: 'LANE BERGE',
  745: 'Kraig dooley',
  746: 'JAVIER Stehr',
  747: 'DARIUS "hane"',
  748: 'Abe "gutkowski"',
  749: 'IVAN "trantow"',
  750: 'kyung "\\"Aufderhar\\""',
  751: 'ABRAHAM Heidenreich',
  752: 'dane PREDOVIC',
  753: 'ANTHONY BRUEN',
  754: 'Edgardo hickle',
  755: 'Sana casper',
  756: 'Roman "connelly"',
  757: 'Tran "schimmel"',
  758: 'CHRISTEEN Heller',
  759: 'Asuncion ROOB',
  760: 'shannan "crona"',
  761: 'Ardis "wintheiser"',
  762: 'Carmine BERGNAUM',
  763: 'ILA "marks"',
  764: 'Del "Durgan"',
  765: 'LARHONDA "hoeger"',
  766: 'kris "thompson"',
  767: 'HERSHEL GISLASON',

In [10]:
#Clean Table 2
df2["Age"]=df2['Age'].apply(u.clean_age)
df2["City"]=df2["City"].apply(u.clean_city)
df2["Gender"]=df2["Gender"].apply(u.clean_gender)
df2[["FirstName","LastName"]]=df2["Name"].str.split(expand=True)
df2['FirstName']=df2['FirstName'].apply(u.clean_name)
df2['LastName']=df2['LastName'].apply(u.clean_name)
df2["Email"]=df2["Email"].str.lower()
df2['Country']="USA"
df2.drop(["Name"],inplace=True,axis=1)

In [11]:
df2

,Age,City,Gender,Email,FirstName,LastName,Country
0,51,Austin,Female,kutch.lorette@gmail.com,Lorette,Kutch,USA
1,84,San Diego,Female,clorinda.wiza@gmail.com,Clorinda,Wiza,USA
2,97,Columbus,Male,littel.joesph@gmail.com,Joesph,Littel,USA
3,90,Jacksonville,Male,carlo_stokes@gmail.com,Carlo,Stokes,USA
4,57,Charlotte,Male,kasey.prosacco@hotmail.com,Kasey,Prosacco,USA
...,...,...,...,...,...,...,...
9995,60,Fort Worth,Female,klein.tennille@yahoo.com,Tennille,Klein,USA
9996,43,San Diego,Female,suzanna.kunze@hotmail.com,Suzanna,Kunze,USA
9997,19,Charlotte,Male,derick.bartell@gmail.com,Derick,Bartell,USA
9998,46,Indianapolis,Male,tom_block@hotmail.com,Tom,Block,USA
9999,59,New York,Male,allen.hammes@hotmail.com,Allen,Hammes,USA

In [12]:
df3

,Gender,Name,Email,Age,City,Country
0,string_Male,string_kendall DACH,string_DACH.KENDALL@HOTMAIL.COM,"""integer_26""",string_Dallas,string_United_State_Of_America
1,string_Male,"string_jonathon ""schneider""",string_Jonathon.schneider@gmail.com,"""integer_91""",string_INDIANAPOLIS,string_Us
2,string_Male,string_JAROD konopelski,string_KONOPELSKI_JAROD@HOTMAIL.COM,"""integer_38""",string_Chicago,string_United_State_Of_America
3,string_Male,string_Glen upton,string_upton_glen@gmail.com,"""integer_30""",string_Austin,string_1
4,string_Male,string_tracey Ratke,string_Ratke.tracey@hotmail.com,"""integer_51""",string_Austin,string_1
...,...,...,...,...,...,...
9995,string_Male,string_Russ effertz,string_RUSS.EFFERTZ@GMAIL.COM,"""integer_39year""",string_CHICAGO,string_US
9996,string_Female,string_temeka PADBERG,string_PADBERG_TEMEKA@HOTMAIL.COM,"""integer_95""",string_INDIANAPOLIS,string_US
9997,boolean_0,string_Alessandra FISHER,string_ALESSANDRA_FISHER@YAHOO.COM,"""integer_24""",string_DALLAS,string_U.S.
9998,string_Female,string_VIRGIE Blanda,string_virgie.blanda@hotmail.com,"""integer_59""",string_Phoenix,string_united state of america
9999,string_Male,string_Kristopher terry,string_Kristopher.terry@yahoo.com,"""integer_53""",string_SAN-JOSE,string_U.s.a.

In [13]:
#Checking columns Table 3 
df3['Gender'].unique() # the values found will be replaced by Femal or Male
u.check_string_column(df3["Name"])# the prefix string_ will cutted for all names same for Email 
u.check_string_column(df3["Age"])

({0: '"integer_26"',
  1: '"integer_91"',
  2: '"integer_38"',
  3: '"integer_30"',
  4: '"integer_51"',
  5: '"integer_60"',
  6: '"integer_34"',
  7: '"integer_19"',
  8: '"integer_33"',
  9: '"integer_70"',
  10: '"integer_26"',
  11: '"integer_64"',
  12: '"integer_87"',
  13: '"integer_51"',
  14: '"integer_99year"',
  15: '"integer_50year"',
  16: '"integer_90"',
  17: '"integer_32"',
  18: '"integer_54"',
  19: '"integer_22"',
  20: '"integer_29"',
  21: '"integer_69"',
  22: '"integer_42"',
  23: '"integer_58"',
  24: '"integer_20"',
  25: '"integer_58"',
  26: '"integer_68"',
  27: '"integer_22"',
  28: '"integer_76"',
  29: '"integer_51"',
  30: '"integer_96"',
  31: '"integer_45"',
  32: '"integer_89"',
  33: '"integer_30"',
  34: '"integer_42"',
  35: '"integer_41"',
  36: '"integer_62year"',
  37: '"integer_58"',
  38: '"integer_38"',
  39: '"integer_34yo"',
  40: '"integer_46year"',
  41: '"integer_93"',
  42: '"integer_91"',
  43: '"integer_41yo"',
  44: '"integer_55"',
  45: '"integer_56"',
  46: '"integer_67"',
  47: '"integer_97"',
  48: '"integer_81"',
  49: '"integer_44"',
  50: '"integer_60"',
  51: '"integer_30yo"',
  52: '"integer_27"',
  53: '"integer_28"',
  54: '"integer_88"',
  55: '"integer_41years"',
  56: '"integer_80"',
  57: '"integer_76"',
  58: '"integer_47"',
  59: '"integer_98"',
  60: '"integer_99"',
  61: '"integer_84"',
  62: '"integer_26"',
  63: '"integer_59"',
  64: '"integer_32"',
  65: '"integer_49"',
  66: '"integer_31"',
  67: '"integer_67"',
  68: '"integer_87"',
  69: '"integer_23"',
  70: '"integer_43"',
  71: '"integer_87"',
  72: '"integer_37"',
  73: '"integer_42"',
  74: '"integer_59"',
  75: '"integer_34"',
  76: '"integer_27"',
  77: '"integer_81"',
  78: '"integer_67"',
  79: '"integer_42"',
  80: '"integer_59year"',
  81: '"integer_86"',
  82: '"integer_27"',
  83: '"integer_64"',
  84: '"integer_89yo"',
  85: '"integer_45"',
  86: '"integer_53"',
  87: '"integer_38"',
  88: '"integer_61"',
  89: '"integer_76"',
  90: '"integer_60year"',
  91: '"integer_58"',
  92: '"integer_93"',
  93: '"integer_64"',
  94: '"integer_79"',
  95: '"integer_84"',
  96: '"integer_83"',
  97: '"integer_55"',
  98: '"integer_61"',
  99: '"integer_20"',
  100: '"integer_87"',
  101: '"integer_26"',
  102: '"integer_90"',
  103: '"integer_77"',
  104: '"integer_67"',
  105: '"integer_27"',
  106: '"integer_36"',
  107: '"integer_46yo"',
  108: '"integer_97"',
  109: '"integer_95"',
  110: '"integer_93"',
  111: '"integer_31"',
  112: '"integer_73"',
  113: '"integer_47"',
  114: '"integer_55"',
  115: '"integer_26"',
  116: '"integer_23"',
  117: '"integer_36"',
  118: '"integer_61yo"',
  119: '"integer_82"',
  120: '"integer_44"',
  121: '"integer_55"',
  122: '"integer_68years"',
  123: '"integer_38"',
  124: '"integer_37"',
  125: '"integer_24yo"',
  126: '"integer_27"',
  127: '"integer_59"',
  128: '"integer_98"',
  129: '"integer_39"',
  130: '"integer_90years"',
  131: '"integer_55"',
  132: '"integer_33"',
  133: '"integer_97"',
  134: '"integer_85"',
  135: '"integer_61"',
  136: '"integer_51"',
  137: '"integer_95"',
  138: '"integer_50"',
  139: '"integer_77"',
  140: '"integer_92"',
  141: '"integer_58"',
  142: '"integer_37year"',
  143: '"integer_61"',
  144: '"integer_70"',
  145: '"integer_62"',
  146: '"integer_32"',
  147: '"integer_46"',
  148: '"integer_68"',
  149: '"integer_77"',
  150: '"integer_38"',
  151: '"integer_31"',
  152: '"integer_48"',
  153: '"integer_75"',
  154: '"integer_70"',
  155: '"integer_75"',
  156: '"integer_47"',
  157: '"integer_70"',
  158: '"integer_76"',
  159: '"integer_75"',
  160: '"integer_98"',
  161: '"integer_62"',
  162: '"integer_38"',
  163: '"integer_24"',
  164: '"integer_77"',
  165: '"integer_23"',
  166: '"integer_32"',
  167: '"integer_19"',
  168: '"integer_36year"',
  169: '"integer_36"',
  170: '"integer_33"',
  171: '"integer_26"',
  172: '"integer_38"',
  173: '"integer_55"',
  174: '"integer_43"',
  175: '"integer_45"',
  176: '"integer_21"',
  177: '"integer_75"',
  178: '"integer_85"',
  179: '"integer_29year"',
  180: '"integer_62"',
  181: '"integer_48"',
  182: '"integer_29"',
  183: '"integer_70"',
  184: '"integer_54"',
  185: '"integer_54"',
  186: '"integer_28"',
  187: '"integer_38"',
  188: '"integer_32"',
  189: '"integer_36"',
  190: '"integer_73"',
  191: '"integer_61"',
  192: '"integer_94"',
  193: '"integer_53"',
  194: '"integer_91"',
  195: '"integer_98"',
  196: '"integer_95"',
  197: '"integer_20"',
  198: '"integer_94years"',
  199: '"integer_72"',
  200: '"integer_76"',
  201: '"integer_60"',
  202: '"integer_30year"',
  203: '"integer_76"',
  204: '"integer_33"',
  205: '"integer_72"',
  206: '"integer_41"',
  207: '"integer_53"',
  208: '"integer_34"',
  209: '"integer_62yo"',
  210: '"integer_86years"',
  211: '"integer_55"',
  212: '"integer_43"',
  213: '"integer_38"',
  214: '"integer_35"',
  215: '"integer_76"',
  216: '"integer_49"',
  217: '"integer_20"',
  218: '"integer_81"',
  219: '"integer_55"',
  220: '"integer_73year"',
  221: '"integer_44yo"',
  222: '"integer_30"',
  223: '"integer_24"',
  224: '"integer_55"',
  225: '"integer_99"',
  226: '"integer_40"',
  227: '"integer_31"',
  228: '"integer_91"',
  229: '"integer_31"',
  230: '"integer_50"',
  231: '"integer_49"',
  232: '"integer_77"',
  233: '"integer_97"',
  234: '"integer_84"',
  235: '"integer_34"',
  236: '"integer_88yo"',
  237: '"integer_73"',
  238: '"integer_40"',
  239: '"integer_47years"',
  240: '"integer_54"',
  241: '"integer_41"',
  242: '"integer_82"',
  243: '"integer_92"',
  244: '"integer_36"',
  245: '"integer_90"',
  246: '"integer_56"',
  247: '"integer_23"',
  248: '"integer_58"',
  249: '"integer_47"',
  250: '"integer_87"',
  251: '"integer_92yo"',
  252: '"integer_94"',
  253: '"integer_88"',
  254: '"integer_50year"',
  255: '"integer_34"',
  256: '"integer_71"',
  257: '"integer_97"',
  258: '"integer_21"',
  259: '"integer_34"',
  260: '"integer_98"',
  261: '"integer_45"',
  262: '"integer_78"',
  263: '"integer_67"',
  264: '"integer_44"',
  265: '"integer_37"',
  266: '"integer_96"',
  267: '"integer_67"',
  268: '"integer_56"',
  269: '"integer_60"',
  270: '"integer_19"',
  271: '"integer_99"',
  272: '"integer_68year"',
  273: '"integer_30"',
  274: '"integer_34"',
  275: '"integer_79years"',
  276: '"integer_99"',
  277: '"integer_85"',
  278: '"integer_24"',
  279: '"integer_97"',
  280: '"integer_26"',
  281: '"integer_78"',
  282: '"integer_37"',
  283: '"integer_30"',
  284: '"integer_59"',
  285: '"integer_30"',
  286: '"integer_22"',
  287: '"integer_66"',
  288: '"integer_73"',
  289: '"integer_51"',
  290: '"integer_30"',
  291: '"integer_82"',
  292: '"integer_22"',
  293: '"integer_59"',
  294: '"integer_77"',
  295: '"integer_69"',
  296: '"integer_40"',
  297: '"integer_89"',
  298: '"integer_95"',
  299: '"integer_72"',
  300: '"integer_90"',
  301: '"integer_52"',
  302: '"integer_70"',
  303: '"integer_42"',
  304: '"integer_67"',
  305: '"integer_48"',
  306: '"integer_68"',
  307: '"integer_64yo"',
  308: '"integer_74"',
  309: '"integer_99"',
  310: '"integer_45"',
  311: '"integer_34"',
  312: '"integer_33"',
  313: '"integer_48"',
  314: '"integer_45"',
  315: '"integer_88"',
  316: '"integer_82year"',
  317: '"integer_76"',
  318: '"integer_68"',
  319: '"integer_58"',
  320: '"integer_46"',
  321: '"integer_75"',
  322: '"integer_68"',
  323: '"integer_68"',
  324: '"integer_28"',
  325: '"integer_52"',
  326: '"integer_83"',
  327: '"integer_69"',
  328: '"integer_55"',
  329: '"integer_64"',
  330: '"integer_29"',
  331: '"integer_73"',
  332: '"integer_96"',
  333: '"integer_35"',
  334: '"integer_53"',
  335: '"integer_55"',
  336: '"integer_59"',
  337: '"integer_32"',
  338: '"integer_82"',
  339: '"integer_30"',
  340: '"integer_28yo"',
  341: '"integer_49"',
  342: '"integer_56"',
  343: '"integer_39"',
  344: '"integer_81"',
  345: '"integer_67"',
  346: '"integer_93"',
  347: '"integer_22"',
  348: '"integer_48"',
  349: '"integer_54"',
  350: '"integer_22"',
  351: '"integer_92"',
  352: '"integer_85"',
  353: '"integer_89"',
  354: '"integer_76"',
  355: '"integer_48"',
  356: '"integer_73"',
  357: '"integer_38"',
  358: '"integer_88"',
  359: '"integer_93"',
  360: '"integer_62"',
  361: '"integer_72"',
  362: '"integer_21year"',
  363: '"integer_49"',
  364: '"integer_37"',
  365: '"integer_39"',
  366: '"integer_93years"',
  367: '"integer_38"',
  368: '"integer_19"',
  369: '"integer_73"',
  370: '"integer_65"',
  371: '"integer_54"',
  372: '"integer_55"',
  373: '"integer_50"',
  374: '"integer_66"',
  375: '"integer_80"',
  376: '"integer_31"',
  377: '"integer_71"',
  378: '"integer_45"',
  379: '"integer_21"',
  380: '"integer_90"',
  381: '"integer_40"',
  382: '"integer_21"',
  383: '"integer_31"',
  384: '"integer_45"',
  385: '"integer_54"',
  386: '"integer_43"',
  387: '"integer_25"',
  388: '"integer_77"',
  389: '"integer_51"',
  390: '"integer_35"',
  391: '"integer_64"',
  392: '"integer_73"',
  393: '"integer_33"',
  394: '"integer_55"',
  395: '"integer_96"',
  396: '"integer_98"',
  397: '"integer_55yo"',
  398: '"integer_97"',
  399: '"integer_35"',
  400: '"integer_25"',
  401: '"integer_85"',
  402: '"integer_91"',
  403: '"integer_52"',
  404: '"integer_52"',
  405: '"integer_79"',
  406: '"integer_41"',
  407: '"integer_91"',
  408: '"integer_36"',
  409: '"integer_99"',
  410: '"integer_53"',
  411: '"integer_34"',
  412: '"integer_55"',
  413: '"integer_35"',
  414: '"integer_39"',
  415: '"integer_92yo"',
  416: '"integer_35"',
  417: '"integer_75"',
  418: '"integer_73"',
  419: '"integer_55"',
  420: '"integer_81"',
  421: '"integer_30"',
  422: '"integer_66yo"',
  423: '"integer_32"',
  424: '"integer_95"',
  425: '"integer_90"',
  426: '"integer_42"',
  427: '"integer_90"',
  428: '"integer_97"',
  429: '"integer_79"',
  430: '"integer_70"',
  431: '"integer_64"',
  432: '"integer_42"',
  433: '"integer_37"',
  434: '"integer_92"',
  435: '"integer_43"',
  436: '"integer_88"',
  437: '"integer_24"',
  438: '"integer_71year"',
  439: '"integer_26"',
  440: '"integer_70"',
  441: '"integer_62"',
  442: '"integer_98yo"',
  443: '"integer_65"',
  444: '"integer_64"',
  445: '"integer_50"',
  446: '"integer_97"',
  447: '"integer_82"',
  448: '"integer_97"',
  449: '"integer_62"',
  450: '"integer_24"',
  451: '"integer_53"',
  452: '"integer_61"',
  453: '"integer_46year"',
  454: '"integer_26"',
  455: '"integer_99year"',
  456: '"integer_70years"',
  457: '"integer_58"',
  458: '"integer_47"',
  459: '"integer_73"',
  460: '"integer_44"',
  461: '"integer_95"',
  462: '"integer_70"',
  463: '"integer_71"',
  464: '"integer_71year"',
  465: '"integer_63yo"',
  466: '"integer_67"',
  467: '"integer_37"',
  468: '"integer_23"',
  469: '"integer_22year"',
  470: '"integer_86"',
  471: '"integer_28"',
  472: '"integer_78"',
  473: '"integer_92"',
  474: '"integer_63"',
  475: '"integer_87"',
  476: '"integer_71"',
  477: '"integer_55"',
  478: '"integer_86"',
  479: '"integer_31years"',
  480: '"integer_43"',
  481: '"integer_48"',
  482: '"integer_49"',
  483: '"integer_85"',
  484: '"integer_24year"',
  485: '"integer_71"',
  486: '"integer_50"',
  487: '"integer_90year"',
  488: '"integer_59"',
  489: '"integer_22"',
  490: '"integer_65"',
  491: '"integer_35"',
  492: '"integer_24"',
  493: '"integer_83"',
  494: '"integer_19"',
  495: '"integer_62"',
  496: '"integer_53"',
  497: '"integer_55"',
  498: '"integer_67"',
  499: '"integer_40"',
  500: '"integer_53"',
  501: '"integer_42"',
  502: '"integer_54"',
  503: '"integer_52"',
  504: '"integer_52"',
  505: '"integer_71"',
  506: '"integer_66"',
  507: '"integer_60"',
  508: '"integer_95"',
  509: '"integer_35"',
  510: '"integer_96"',
  511: '"integer_89"',
  512: '"integer_81"',
  513: '"integer_96"',
  514: '"integer_22"',
  515: '"integer_86yo"',
  516: '"integer_75"',
  517: '"integer_63"',
  518: '"integer_32"',
  519: '"integer_43"',
  520: '"integer_51"',
  521: '"integer_72"',
  522: '"integer_65"',
  523: '"integer_72"',
  524: '"integer_79year"',
  525: '"integer_52yo"',
  526: '"integer_67"',
  527: '"integer_94years"',
  528: '"integer_49"',
  529: '"integer_82"',
  530: '"integer_88"',
  531: '"integer_90"',
  532: '"integer_79"',
  533: '"integer_85"',
  534: '"integer_33"',
  535: '"integer_83"',
  536: '"integer_96"',
  537: '"integer_65"',
  538: '"integer_48"',
  539: '"integer_41"',
  540: '"integer_72"',
  541: '"integer_36"',
  542: '"integer_26year"',
  543: '"integer_81"',
  544: '"integer_54"',
  545: '"integer_86"',
  546: '"integer_60"',
  547: '"integer_25"',
  548: '"integer_25"',
  549: '"integer_24"',
  550: '"integer_53"',
  551: '"integer_85"',
  552: '"integer_72"',
  553: '"integer_58"',
  554: '"integer_99"',
  555: '"integer_61"',
  556: '"integer_67"',
  557: '"integer_48"',
  558: '"integer_95"',
  559: '"integer_96"',
  560: '"integer_78"',
  561: '"integer_95"',
  562: '"integer_93"',
  563: '"integer_46"',
  564: '"integer_89"',
  565: '"integer_55"',
  566: '"integer_59"',
  567: '"integer_92"',
  568: '"integer_53"',
  569: '"integer_32"',
  570: '"integer_80"',
  571: '"integer_40"',
  572: '"integer_70"',
  573: '"integer_45"',
  574: '"integer_67"',
  575: '"integer_75"',
  576: '"integer_56"',
  577: '"integer_83"',
  578: '"integer_38"',
  579: '"integer_33"',
  580: '"integer_34"',
  581: '"integer_71"',
  582: '"integer_90"',
  583: '"integer_72"',
  584: '"integer_51"',
  585: '"integer_32"',
  586: '"integer_83"',
  587: '"integer_57"',
  588: '"integer_91"',
  589: '"integer_94"',
  590: '"integer_27"',
  591: '"integer_47"',
  592: '"integer_94"',
  593: '"integer_48"',
  594: '"integer_20"',
  595: '"integer_68"',
  596: '"integer_92"',
  597: '"integer_35"',
  598: '"integer_72year"',
  599: '"integer_83"',
  600: '"integer_64"',
  601: '"integer_92"',
  602: '"integer_25"',
  603: '"integer_48"',
  604: '"integer_29"',
  605: '"integer_98"',
  606: '"integer_88"',
  607: '"integer_83"',
  608: '"integer_67"',
  609: '"integer_82"',
  610: '"integer_88"',
  611: '"integer_82year"',
  612: '"integer_22"',
  613: '"integer_49"',
  614: '"integer_83"',
  615: '"integer_90"',
  616: '"integer_53"',
  617: '"integer_39"',
  618: '"integer_56"',
  619: '"integer_95"',
  620: '"integer_87"',
  621: '"integer_27"',
  622: '"integer_19"',
  623: '"integer_72"',
  624: '"integer_36"',
  625: '"integer_41"',
  626: '"integer_97"',
  627: '"integer_54"',
  628: '"integer_99"',
  629: '"integer_64"',
  630: '"integer_61"',
  631: '"integer_57"',
  632: '"integer_59"',
  633: '"integer_81"',
  634: '"integer_30"',
  635: '"integer_29"',
  636: '"integer_60yo"',
  637: '"integer_99"',
  638: '"integer_75year"',
  639: '"integer_96"',
  640: '"integer_45"',
  641: '"integer_58"',
  642: '"integer_85"',
  643: '"integer_43"',
  644: '"integer_67"',
  645: '"integer_23"',
  646: '"integer_31"',
  647: '"integer_78"',
  648: '"integer_84"',
  649: '"integer_43"',
  650: '"integer_29"',
  651: '"integer_52"',
  652: '"integer_29"',
  653: '"integer_65"',
  654: '"integer_91year"',
  655: '"integer_53"',
  656: '"integer_96"',
  657: '"integer_69"',
  658: '"integer_54"',
  659: '"integer_22"',
  660: '"integer_87"',
  661: '"integer_27"',
  662: '"integer_33"',
  663: '"integer_20"',
  664: '"integer_56"',
  665: '"integer_18years"',
  666: '"integer_25"',
  667: '"integer_54year"',
  668: '"integer_37"',
  669: '"integer_27"',
  670: '"integer_94"',
  671: '"integer_69"',
  672: '"integer_92"',
  673: '"integer_92"',
  674: '"integer_85"',
  675: '"integer_88year"',
  676: '"integer_76"',
  677: '"integer_74"',
  678: '"integer_47"',
  679: '"integer_65"',
  680: '"integer_23"',
  681: '"integer_37"',
  682: '"integer_47"',
  683: '"integer_48"',
  684: '"integer_94"',
  685: '"integer_86"',
  686: '"integer_89"',
  687: '"integer_62"',
  688: '"integer_83"',
  689: '"integer_47"',
  690: '"integer_82"',
  691: '"integer_40years"',
  692: '"integer_47"',
  693: '"integer_30"',
  694: '"integer_30yo"',
  695: '"integer_87"',
  696: '"integer_79"',
  697: '"integer_77"',
  698: '"integer_75"',
  699: '"integer_72"',
  700: '"integer_34"',
  701: '"integer_50"',
  702: '"integer_18"',
  703: '"integer_58"',
  704: '"integer_48"',
  705: '"integer_37"',
  706: '"integer_58"',
  707: '"integer_96"',
  708: '"integer_89"',
  709: '"integer_26"',
  710: '"integer_39"',
  711: '"integer_26year"',
  712: '"integer_57"',
  713: '"integer_88"',
  714: '"integer_98"',
  715: '"integer_88year"',
  716: '"integer_71"',
  717: '"integer_93"',
  718: '"integer_88"',
  719: '"integer_65"',
  720: '"integer_22"',
  721: '"integer_37"',
  722: '"integer_24"',
  723: '"integer_51"',
  724: '"integer_62years"',
  725: '"integer_98yo"',
  726: '"integer_96"',
  727: '"integer_96"',
  728: '"integer_23"',
  729: '"integer_40"',
  730: '"integer_44years"',
  731: '"integer_88"',
  732: '"integer_47"',
  733: '"integer_71"',
  734: '"integer_32"',
  735: '"integer_90"',
  736: '"integer_71yo"',
  737: '"integer_77"',
  738: '"integer_73year"',
  739: '"integer_53"',
  740: '"integer_19"',
  741: '"integer_68"',
  742: '"integer_28"',
  743: '"integer_80"',
  744: '"integer_44"',
  745: '"integer_33"',
  746: '"integer_75"',
  747: '"integer_31"',
  748: '"integer_61"',
  749: '"integer_27"',
  750: '"integer_62"',
  751: '"integer_57"',
  752: '"integer_52"',
  753: '"integer_28"',
  754: '"integer_95"',
  755: '"integer_53"',
  756: '"integer_97year"',
  757: '"integer_28"',
  758: '"integer_82"',
  759: '"integer_67"',
  760: '"integer_77"',
  761: '"integer_60"',
  762: '"integer_83"',
  763: '"integer_90"',
  764: '"integer_67"',
  765: '"integer_21"',
  766: '"integer_72"',
  767: '"integer_96"',
  768: '"integer_44yo"',
  769: '"integer_26"',
  770: '"integer_56"',
  771: '"integer_78"',
  772: '"integer_45"',
  773: '"integer_51"',
  774: '"integer_52"',
  775: '"integer_19"',
  776: '"integer_65"',
  777: '"integer_50"',
  778: '"integer_30"',
  779: '"integer_78"',
  780: '"integer_46"',
  781: '"integer_68"',
  782: '"integer_32yo"',
  783: '"integer_36"',
  784: '"integer_22"',
  785: '"integer_39"',
  786: '"integer_42"',
  787: '"integer_39"',
  788: '"integer_52"',
  789: '"integer_85"',
  790: '"integer_19"',
  791: '"integer_76"',
  792: '"integer_71"',
  793: '"integer_93"',
  794: '"integer_45"',
  795: '"integer_25"',
  796: '"integer_56"',
  797: '"integer_21"',
  798: '"integer_52"',
  799: '"integer_63"',
  800: '"integer_81"',
  801: '"integer_89"',
  802: '"integer_44"',
  803: '"integer_30"',
  804: '"integer_42"',
  805: '"integer_33"',
  806: '"integer_87"',
  807: '"integer_48"',
  808: '"integer_89"',
  809: '"integer_29"',
  810: '"integer_21"',
  811: '"integer_80"',
  812: '"integer_51"',
  813: '"integer_98"',
  814: '"integer_38yo"',
  815: '"integer_81year"',
  816: '"integer_93"',
  817: '"integer_90years"',
  818: '"integer_19"',
  819: '"integer_34"',
  820: '"integer_30"',
  821: '"integer_71"',
  822: '"integer_40"',
  823: '"integer_76"',
  824: '"integer_52"',
  825: '"integer_32"',
  826: '"integer_35"',
  827: '"integer_53"',
  828: '"integer_79"',
  829: '"integer_71"',
  830: '"integer_50"',
  831: '"integer_68"',
  832: '"integer_79"',
  833: '"integer_93years"',
  834: '"integer_95"',
  835: '"integer_75"',
  836: '"integer_29"',
  837: '"integer_36"',
  838: '"integer_20"',
  839: '"integer_40"',
  840: '"integer_84years"',
  841: '"integer_90"',
  842: '"integer_95"',
  843: '"integer_61"',
  844: '"integer_39"',
  845: '"integer_39"',
  846: '"integer_71years"',
  847: '"integer_94"',
  848: '"integer_32yo"',
  849: '"integer_89"',
  850: '"integer_75"',
  851: '"integer_64"',
  852: '"integer_31"',
  853: '"integer_56"',
  854: '"integer_36"',
  855: '"integer_54"',
  856: '"integer_52"',
  857: '"integer_82"',
  858: '"integer_45"',
  859: '"integer_64"',
  860: '"integer_63yo"',

In [14]:
#Clean Table 3
df3["Gender"]=df3['Gender'].apply(u.clean_gender_tab3)
df3[["FirstName","LastName"]]=df3["Name"].apply(u.replace_string_).str.split(expand=True)
df3['FirstName']=df3['FirstName'].apply(u.clean_name)
df3['LastName']=df3['LastName'].apply(u.clean_name)
df3["Email"]=df3["Email"].apply(u.replace_string_).str.lower()
df3["Age"]=df3['Age'].apply(u.clean_age)
df3["City"]=df3["City"].apply(u.replace_string_).apply(u.clean_city)
df3['Country']="USA"
df3.drop(["Name"],inplace=True,axis=1)
df3

,Gender,Email,Age,City,Country,FirstName,LastName
0,Male,dach.kendall@hotmail.com,26,Dallas,USA,Kendall,Dach
1,Male,jonathon.schneider@gmail.com,91,Indianapolis,USA,Jonathon,Schneider
2,Male,konopelski_jarod@hotmail.com,38,Chicago,USA,Jarod,Konopelski
3,Male,upton_glen@gmail.com,30,Austin,USA,Glen,Upton
4,Male,ratke.tracey@hotmail.com,51,Austin,USA,Tracey,Ratke
...,...,...,...,...,...,...,...
9995,Male,russ.effertz@gmail.com,39,Chicago,USA,Russ,Effertz
9996,Female,padberg_temeka@hotmail.com,95,Indianapolis,USA,Temeka,Padberg
9997,Male,alessandra_fisher@yahoo.com,24,Dallas,USA,Alessandra,Fisher
9998,Female,virgie.blanda@hotmail.com,59,Phoenix,USA,Virgie,Blanda
9999,Male,kristopher.terry@yahoo.com,53,San Jose,USA,Kristopher,Terry

In [15]:
df_merged=pd.concat([df1,df2,df3])

In [16]:
df_merged

,Gender,FirstName,LastName,Email,Age,City,Country
0,Female,Latesha,Barton,forgottoask@woodinc,85,Indianapolis,USA
1,Female,Yolando,Jast,yolando_jast@yahoo.com,53,Columbus,USA
2,Male,Stacy,Johnson,stacy.johnson@yahoo.com,64,Indianapolis,USA
3,Male,Abdul,Mayert,mayert.abdul@hotmail.com,79,Phoenix,USA
4,Male,Julius,Reinger,reinger_julius@hotmail.com,65,Jacksonville,USA
...,...,...,...,...,...,...,...
9995,Male,Russ,Effertz,russ.effertz@gmail.com,39,Chicago,USA
9996,Female,Temeka,Padberg,padberg_temeka@hotmail.com,95,Indianapolis,USA
9997,Male,Alessandra,Fisher,alessandra_fisher@yahoo.com,24,Dallas,USA
9998,Female,Virgie,Blanda,virgie.blanda@hotmail.com,59,Phoenix,USA
9999,Male,Kristopher,Terry,kristopher.terry@yahoo.com,53,San Jose,USA

In [18]:
merged_csv=df_merged.to_csv(index_label=False,index=False)
type(merged_csv)

str

# my_ds_babel.csv_to_sql(merged_csv, 'plastic_free_boutique.sql', 'customers')

In [19]:
from sqlite3 import connect
sql_df=pd.read_sql('SELECT * FROM customers',con=connect("plastic_free_boutique.sql"))

In [29]:
sql_df

,Gender,FirstName,LastName,Email,Age,City,Country
0,Female,Latesha,Barton,forgottoask@woodinc,85,Indianapolis,USA
1,Female,Yolando,Jast,yolando_jast@yahoo.com,53,Columbus,USA
2,Male,Stacy,Johnson,stacy.johnson@yahoo.com,64,Indianapolis,USA
3,Male,Abdul,Mayert,mayert.abdul@hotmail.com,79,Phoenix,USA
4,Male,Julius,Reinger,reinger_julius@hotmail.com,65,Jacksonville,USA
...,...,...,...,...,...,...,...
29995,Male,Russ,Effertz,russ.effertz@gmail.com,39,Chicago,USA
29996,Female,Temeka,Padberg,padberg_temeka@hotmail.com,95,Indianapolis,USA
29997,Male,Alessandra,Fisher,alessandra_fisher@yahoo.com,24,Dallas,USA
29998,Female,Virgie,Blanda,virgie.blanda@hotmail.com,59,Phoenix,USA
29999,Male,Kristopher,Terry,kristopher.terry@yahoo.com,53,San Jose,USA

In [23]:
pd.read_csv(StringIO(merged_csv))

,Gender,FirstName,LastName,Email,Age,City,Country
0,Female,Latesha,Barton,forgottoask@woodinc,85,Indianapolis,USA
1,Female,Yolando,Jast,yolando_jast@yahoo.com,53,Columbus,USA
2,Male,Stacy,Johnson,stacy.johnson@yahoo.com,64,Indianapolis,USA
3,Male,Abdul,Mayert,mayert.abdul@hotmail.com,79,Phoenix,USA
4,Male,Julius,Reinger,reinger_julius@hotmail.com,65,Jacksonville,USA
...,...,...,...,...,...,...,...
29995,Male,Russ,Effertz,russ.effertz@gmail.com,39,Chicago,USA
29996,Female,Temeka,Padberg,padberg_temeka@hotmail.com,95,Indianapolis,USA
29997,Male,Alessandra,Fisher,alessandra_fisher@yahoo.com,24,Dallas,USA
29998,Female,Virgie,Blanda,virgie.blanda@hotmail.com,59,Phoenix,USA
29999,Male,Kristopher,Terry,kristopher.terry@yahoo.com,53,San Jose,USA

In [ ]:
import pandas as pd 
import utils as u 
import my_ds_babel


#Data reading
df1=pd.read_csv("only_wood_customer_us_1.csv") 
df2=pd.read_csv("only_wood_customer_us_2.csv",delimiter=";",names=["Age","City","Gender","Name","Email"])
df3=pd.read_csv("only_wood_customer_us_3.csv",delimiter="\t|,") # the | sign is used to specify that we going to use two delimiter \t and 

#Checking columns Table1 
u.check_string_column(df1["Gender"]) #'This column contains 982 dirty values' 0 and 1 must be changed into Male and Female
u.check_string_column(df1["FirstName"]) # 'This column contains 642 dirty values') we must replace \\ "" characters by emplty and make names started by upcase letter
u.check_string_column(df1["LastName"]) #'This column contains 753 dirty values') we must replace \\ "" characters by emplty and make names started by upcase letter
u.check_numerical_column(df1["Age"])   # Age columns is clean we just need to convert each entry to str as the specified by the work
u.check_string_column(df1["City"]) #'This column contains 3839 dirty values' we should replace - and _ characters by empty 
u.check_string_column(df1["Country"]) # 'This column contains 6647 dirty values' we will set the standar country name sa USA

#Clean table 1

In [ ]:
def clean_gender(x):
    if x == "0" or x=="M":
        x="Male"
    elif x=="1" or x=="F":
        x="Female"
    return x
def check_string_column(column_data):
    dirty_value={}
    for index,value in column_data.items():
        if not isinstance(value,str) or not value.isalpha():
            dirty_value[index]=value
        if dirty_value:
            return dirty_value,f'This column contains {len(dirty_value)} dirty values'
        else:
            return "Column is clean"
def check_numerical_column(column_data):
    dirty_value={}
    for index,value in column_data.items():
        if not isinstance(value,(int)):
            dirty_value[index]=value
    if dirty_value:
            return dirty_value,f'This column contains {len(dirty_value)} dirty values'
    else:
            return "Column is clean"
def clean_name(name):
    if isinstance(name,str):
        return name.replace("\\","").replace('"',"").title()
def clean_city(city):
    if isinstance(city,str):
        return city.replace("-"," ").replace("_"," ").title()
def clean_age(age):
    if isinstance(age,str):
        return age.replace("yo","").replace("years","").replace("s","").replace("integer_","").replace('"',"")
def clean_gender_tab3(x):
    if x=="string_Male" or x=="boolean_0" or x=="character_M":
        x="Male"
    elif x=="string_Female" or x=="boolean_1":
        x="Female"
    return x
def repalce_string_(column_data):
    if isinstance(column_data,str):
        return column_data.replace("string_","")